*{
    box-sizing: border-box;
}

h1, h2, .offers, .contactInfo{
    
}

h1{

}

h2{
    
}

h3{
    
}

#slogan, .navigation{
   
}

.contactInfo{
    
}

.navigation li {
    
}

div.all{
    background-image: url("IceCream.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 120%;
}

